.containerAbout {
  background-color: #F1F1F1;
  min-height: 100vh;
  margin: 26px;
}

.aboutWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-width: 60%;
  min-height: 37vh;

  border-radius: 10px;
  box-shadow: 6px 5px 5px 6px #928c8c;
  margin: 1%;
  max-width: 300px;
}

.textContent {
  max-width: 78%;
  text-align: justify;
  color: #222;
  font-size: 13px;
}

.text {
  margin: 2%;
}

.avatarContainer {
  max-width: 305px;
  margin: 5%;
}

.avatar {
  width: 260px;
  height: 260px;
}

.img {
  width: 290px;
  height: 300px;
  cursor: zoom-in;
}

.downButton {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .containerAbout {
    margin-top: 40px;
  }

  .aboutWrapper {
    gap: 60px 0px;
  }

  .textContainer {
    flex-wrap: wrap;
  }

  .downButton {
    display: none;
  }
}