.containerAbout {
  background-color: #F3EFE0;
  min-height: 100vh;
  margin: 26px;
}

.aboutWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;

}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #F3EFE0;
  min-width: 60%;
  min-height: 37vh;

  border-radius: 10px;
  box-shadow: 6px 5px 5px 6px #928c8c;
  margin: 1%;
  max-width: 300px;
}

.textContent {
  max-width: 78%;
  text-align: justify;
  color: #222;
}

.avatarContainer {
  max-width: 305px;
  margin: 5%;
}

.avatar {
  width: 290px;
  height: 290px;
}

.img {
  width: 400px;
  height: 400px;
}

.downButton {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .containerAbout {
    margin-top: 40px;
  }

  .textContainer {
    flex-wrap: wrap;
  }

  .downButton {
    display: none;
  }
}