.ContainerPin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-direction: column;

  height: 54vh;
  min-width: 20vw;
  max-width: 190px;

  border: 2px solid #d4d8d6;
  box-shadow: 5px 5px 5px #b4b6ab;
  border-radius: 10%;

  margin: 5%;
  margin-top: 0;
}

.CardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;

  width: 90%;
  height: 50%;
}

.CardImage {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 60%;

  margin: 6px;
}

.title {
  font-size: 15px;
  text-transform: uppercase;
}

.tech {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.banner {
  width: 99.1%;
  height: 98%;
  margin: 1px;

  border-radius: 10px;
}

.TextContainer {
  color: #222;
  max-width: 200px;
  text-align: justify;
}

.linkButton {
  border-top: 1px solid #ced1c0;
  padding-top: 10px;
  color: #660022;
}

.pin {
  max-width: 4vw;
  max-height: 10vh;
}

@media (max-width: 768px) {
  .CardContainer {
    min-width: 80vw;
  }

  .pin {
    margin-bottom: 0;
    max-width: 11vw;
    max-height: 8vh;
  }
}