.ContactContainer {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  min-height: 100vh;


  flex-wrap: wrap;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 80px;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .ContactContainer .buttonContainer {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10%;
  }

}