* {
  transition: all 0.08s linear;
  scroll-behavior: smooth;
}

.container-global {
  background-color: #fdefd4;
}

.global {
  background-color: #202124;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  height: 100%;
}