@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
  transition: all 0.08s linear;
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
}

.container-global {
  background-color: #F3EFE0;

  color: #222;
}

.global {
  background-color: #202124;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  height: 100%;
}