.container {
  display: flex;
  align-items: center;
  background-color: #F3EFE0;

  min-height: 100vh;

  flex-direction: column;
  flex-wrap: wrap;
}

.homeWrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 266px;
  margin: 10%;
  margin-top: 7%;
}

.name {
  font-size: 40px;
  font-weight: bold;
  color: #8c162a;
}

.intro {
  max-width: 600px;
  font-size: 20px;
  color: #222;

  flex-shrink: 0;
}

.img {
  width: 360px;
  height: 360px;
}


/* buttons */

.buttonsContainer {
  display: flex;
  gap: 10px 30px;
  margin-top: 8%;
}

.button {
  border-radius: 5%;
}


/* tech icons */

.techContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;

  font-size: 20px;
}

.techContainer p {
  margin-top: 0;
  margin-right: 20px;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.icon {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .homeWrapper {
    gap: 30px;
  }

  .container {
    margin-top: 20%;
  }

  .intro {
    justify-content: center;
    align-items: center;

    margin-right: 0px;
  }

  .downButton {
    display: none;
  }

  .img {
    width: 300px;
    height: 300px;
  }

  .tech {
    min-height: 0px;
    margin: 0px;
  }
}