.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  background-color: #f59aa9;
  border-radius: 10px;

  min-height: 90vh;
}

.name {
  font-size: 40px;
  font-weight: bold;
  color: #fdefd4;

}

.intro {
  font-size: 20px;
  color: #492320;
  z-index: 0;
}

.img {
  width: 400px;
  height: 400px;
}

.img :hover {
  width: 500px;
  height: 500px;
}

.button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus {
  background-color: #F082AC;
}