.globalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  max-width: 100vw;

  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 160px;


  min-height: 70vh;
  flex-wrap: wrap;

}

.homeWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 60px 0;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px 0;
}


.img {
  width: 310px;
  height: 310px;
}

.name {
  font-size: 40px;
  font-weight: bold;
  color: #8c162a;
}

/* buttons */

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 30px;
}

.button {
  border-radius: 5%;
}


/* tech icons */

.techContainer {
  display: flex;
  flex-wrap: wrap;

  max-width: 500px;
}

.techContainer p {
  font-size: 20px;
  margin-top: 0;
  margin-right: 10px;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.icon {
  width: 30px;
  height: 30px;
}

.downButton {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {

  .container {
    margin-top: 20%;
  }

  .intro {
    justify-content: center;
    align-items: center;

    margin-right: 0px;
  }

  .homeWrapper {
    margin: 15%;
  }

  .downButton {
    display: none;
  }

  .img {
    width: 250px;
    height: 250px;
    margin-top: 15%;
  }

  .tech {
    min-height: 0px;
    max-width: 250px;
    margin: 0px;
  }

  .buttonsContainer {
    gap: 10px 30px;
  }
}