.projectsContainer {
  background-color: #F1F1F1;
  display: flex;
  justify-content: center;
  border-radius: 10px;

  min-height: 100vh;
}

.name {
  font-size: 30px;
  font-weight: bold;
  color: #222;
  margin-bottom: 5%;
}

.projectsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 5%;
}

.ProjectCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 50px;

  max-width: 90%;
  margin-bottom: 8%;

}

.box {
  background: var(--accent);
}


.downButton {
  display: flex;
  justify-content: center;

}

@media (max-width: 768px) {

  .downButton {
    display: none;
  }
}