.projectsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fef2cc;
  border-radius: 10px;

  min-height: 100vh;



}

.projectsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  margin-top: 5%;
}

.ProjectCards {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px 25px;

  max-width: 1400px;
}