.projectsContainer {
  display: flex;
  justify-content: center;
  background-color: #FFF3E2;
  border-radius: 10px;

  min-height: 100vh;
}

.projectsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 5%;
}

.ProjectCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 50px;

  max-width: 1050px;

}

.downButton {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {

  .downButton {
    display: none;
  }
}